button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

button:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

body {
  background: url("./reiner_face.jpeg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  display: grid;
  place-items: center;
}

p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  background-color: #666;
}